.txtwhite {
  font-family:Arial;
  color:white;
  font-size:15px;
  background: #000000;
}

.txtinput {
  font-family:Arial;
  color:blue;
  font-size:15px;
 // background: #000000;
 // border-color: #6E6E6E;
 // border-style:solid;
 // border-width:2px;
}

.sfborder {
  font-family:Arial;
  color:white;
  font-size:15px;
  background: #000000;
  border-color: #0B4C5F;
  border-style:solid;
  border-width:1px;
  border-radius:10px;
}